<p id="notice"><%= notice %></p>

<h1>Thank you for your order!</h1>



<p>
  <b>Pick Up:</b>
  <%= @order.pickUp %>
</p>

<p>
  <b>Drop Off:</b>
  <%= @order.dropOff %>
</p>
	<b>Number of Days:</b>
		<%= (@order.dropOff-@order.pickUp).to_i %>
<br>
<br>

<button id="button">Terms and Conditions</button>
<p id="demo"></p>
<script>
document.getElementById("button").addEventListener("click", days);
function days(){
document.getElementById("demo").innerHTML = "<i>If the vehicle is dropped off late you will receive a fine</i>";
}
</script>	