<p id="notice"><%= notice %></p>

<h1>Thank you for your order!</h1>



<p>
  <b>Pick Up:</b>
  <%= @order.pickUp %>
</p>

<p>
  <b>Drop Off:</b>
  <%= @order.dropOff %>
</p>
<p><i>If the vehicle is dropped off late you will receive a fee</i></p>
