// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #banner {
  background: darkblue;
  padding: 40px;
  border-bottom: 2px solid;
  font: small-caps 50px/50px "Times New Roman", serif;
  color: #blue;
  text-align: center;

  img {
    float: left;
  }
  
}